.cart {
  position: absolute;
  top: 100%;
  right: 0;
  width: 15rem;
  height: 22.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 1;
  &.visible {
    display: flex;

  }
}

.cart-items {
  flex: 1 1 auto;
  max-height: 80%;
  width: 100%;
  text-align: center;
  & p {
    font-size: 1.2rem;
  }
}