$vertical-input-padding: .5rem;
$horizontal-input-padding: .4rem;

@mixin label-on-top {
  top: -1rem;
  left: .1rem;
  font-size: .8rem;
}

.input-wrapper {
  position: relative;
  margin: 1.8rem 0 2rem;
}

.form-input {
  width: 100%;
  padding: $vertical-input-padding $horizontal-input-padding;
  border: none;
  border-bottom: 1px solid #555;
  outline: none;
  &:focus {
    & + label {
      @include label-on-top();
    }
  }
}

.label {
  position: absolute;
  top: $vertical-input-padding - .2rem;
  left: $horizontal-input-padding;
  transition: all .3s;
  &.description-label {
    @include label-on-top();
  }
}